.logo-container
{
    width: 100%;
    height: 200px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
}
.logo
{
    height:fit-content
}
.navbar-list
{
    list-style-type: none;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 2px;
}
.navbar-tab
{
    display: inline-block;
    font-size: 18px;
    border: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: white;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    padding-bottom: 15px;
    letter-spacing: 1px;
}
.navbar-container
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 0;
}
.nav-active
{
    border-bottom: 4px solid #eb7373;
}