.stories
{
    width: 370px;
    height: 350px;
    display: inline-block;
    margin-left: 3%;
}
.stories-text-container
{
    width: 400px;
}
.stories-head
{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.stories-text
{
    font-size: 17px;
    color: #908D8D;
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word;
}
.stories-category
{
    font-size: 17px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width:768px)
{
    .stories-text-container
    {
        width: 95%;
        font-size: 15px;
    }
}