.container
{
    margin: auto;
    height: 500px;
    width: 1090px;
    margin-left: 13%;
    display: flex;
    margin-top: 8%;
}
.primary-container
{
    width: 50%;
    height: 100%;
    display: flex;
    box-shadow: 0px 5px 10px #0000001A;
    border-radius: 7px;
}
.primary-img
{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.sec-img
{
    width: 350px;
    height: 250px;
    border-radius: 5px;
}
.sec-parent
{
    display:flex;
    flex-direction:column;
    align-content: space-between;
    margin-left: 15px;
}
.secondary-container
{
    width: 50%;
    height: 50%;
    margin-top: 0;
    box-shadow: 0px 5px 10px #0000000D;
    border-radius: 7px;
    display: flex;
}
.text-block-1 
{
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    top:110%;
    right:50%;  
    width: 230px;
    height: fit-content;
}
.text-block-2 
{
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
}
#txt1
{
    position: absolute;
    top: 70%;
}
#txt2
{
    position: absolute;
    top: 110%;
}
.img1-heading
{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.img1-category
{
    color: #908D8D;
    font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width:768px)
{
    .container
    {
        width: 335px;
        margin: 0;
        margin-top: 0;
    }
    .primary-container
    {
        width: 100%;
    }
    .sec-parent
    {
        display:none
    }
    .text-block-1 
    {
        top:70%;
        left: 40%;  
        width: 180px;
        font-size: 17px;
    }
}