<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <img src="./Pictures/img.jpg" alt="1"/>
        <div>
            <h2>The Latest</h2>
        </div>
        <div>
            <img src="./Pictures/latest.jpg" alt="Latest">
            <h4>Joshua Tree Overnight Adventure</h4>
            <p>
                Gujarat is vastly underrated and it’s a mystery to us why the region isn’t more well-known as a tourist destination. It has a plethora of temples and palaces
            </p>
        </div>
    </body>
</html>